.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px; 
    background-color: #000; 
    color: #fff;
    width: 100%;
}

/* Sección Izquierda */
.footer-section.left p {
    margin: 0;
    font-size: 0.9rem;
    color: #ccc;
}

/* Sección Derecha: Columna vertical */
.footer-section.right {
    display: flex;
    flex-direction: column; 
    align-items: flex-end;  
    gap: 5px; 
}

.developer-text {
    margin: 0;
    font-size: 0.95rem;
}

.developer-text strong {
    color: red;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a {
    color: #fff;
    display: flex;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #aaa;
}

/* Responsive*/
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }
    
    .footer-section.right {
        align-items: center;
    }
}